@import "./root.css";

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  background-color: var(--bg-primary);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: var(--text);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100rem;
  height: 100%;
  margin: 0 auto;
  padding: .5rem;
}

.iconNav {
  margin-right: .25rem;
}

.titleIcon {
  font-weight: 600;
}

.actionNavigate {
  display: inline-flex;
  gap: 2rem;
}

.section {
  display: inline-flex;
  align-items: center;
  padding: .25rem 1.5rem;
  border-radius: 999px;
  background-color: var(--color-zinc-200);
  border: 1px solid var(--color-zinc-300);
  cursor: pointer;
}

.navLink {
  padding: .5rem 0 .5rem 0;
  font-weight: 600;
  transition-property: color;
  transition-duration: 200ms;
  color: #555;
}

.navLink:hover:not(.active){
  color: #54cd66;
}

.navLink .active {
  color: #333;
}

.textCatalog {
  border-radius: 999px;
  color: var(--text);
}

.textCatalog:hover{
  color: #54cd66;
  transition-delay: 150ms;
}

.toggle-theme-button {
  display: inline-flex;
  align-items: center;
  background-color: var(--color-zinc-200);
  border: 1px solid var(--color-zinc-300);
  border-radius: 999px;
  padding: 0 1rem 0 1rem;
  cursor: pointer;
  transition: background-color 0.5s 150ms;
}

.toggle-theme-button:hover {
  background-color: var(--color-zinc-300);
}

.textButtonTheme {
  font-weight: 600;
  color: var(--text);
}

.cart {
  display: inline-flex;
  align-items: center;
  background-color: var(--color-zinc-200);
  border: 1px solid var(--color-zinc-300);
  padding: 0.5rem 1rem 0.5rem 1rem;
  gap: 1rem;
  border-radius: 999px;
}

.textCart {
  font-weight: 600;
  color: var(--text);
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  cursor: none;
  padding: 0;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--text);
  border-radius: 2px;
  transition: 0.3s;
}


@media (max-width: 512px) {
  .hamburger {
    display: flex;
  }

  .actionNavigate {
    display: none;
  }

  .actionNavigate.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 42px;
    right: 10px;
    background: var(--bg-primary);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 8px;
    gap: 1rem;
  }

  .textButtonTheme {
    padding: .5rem 0 .5rem 0;
  }
}